#centerbox {
    -fx-background: rgb(150, 0, 0);
}

#playButton, #pauseButton, #stopButton, #muteButton, #menosVol, #masVol {
    -fx-background-color: rgb(150, 0, 0);
    -fx-fill: white;
}

#viewBox {
    -fx-background-color: rgb(150, 0, 0);
    
}

#viewList {
    -fx-background-color: red;
    
}

#barMenu {
    -fx-background-color: red;
    -fx-color: white;
}

#menu {
    -fx-background: rgb(150, 0, 0);
    -fx-color: white;
}

#menu:hover {
    -fx-color: white;
}

#opcionMenu {
    -fx-background: rgb(150, 0, 0);
    -fx-color: white;
}

#opcionMenu:hover {
    
    -fx-color: white;
}

#tituloArchivo {
    -fx-background-color: red;
    -fx-color: white;
}

#izq {
    -fx-background-color: red;
}

#labelIzq {
    -fx-fill: white;
}

#buttonBox {
    -fx-background-color: red;
}

#tamano, #velocidad {
    -fx-background-color: rgb(150, 0, 0);
    -fx-color: white;
}

#barProgress {
    -fx-accent: red;
}
